@import "https://fonts.googleapis.com/css?family=Antic+Didone|Montserrat:700";
:root {
  margin: 0;
  padding: 0;
  font-family: "Antic Didone";
  font-size: 13px;
}

@media screen and (min-width: 760px) {
  :root {
    font-size: 15px;
  }
}
@media screen and (min-width: 820px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (min-width: 900px) {
  :root {
    font-size: 17px;
  }
}
@media screen and (min-width: 980px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (min-width: 1060px) {
  :root {
    font-size: 19px;
  }
}
@media screen and (min-width: 1220px) {
  :root {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  :root {
    font-size: 22px;
  }
}
/* Le corps et le wrapper */
html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  -webkit-animation: fadeIn 500ms ease-in-out forwards;
  animation: fadeIn 500ms ease-in-out forwards;
}
section.wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: background /*background-image*/ 500ms ease-in-out;
}

/* Les selecteurs de navigation */
.selectors {
  position: absolute;
  left: 40px;
  width: 30px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.selectors .selector {
  border: 1px solid #9ecafa;
  background: #9ecafa;
  width: 5px;
  height: 20px;
  margin: 3px 0;
  opacity: 0.6;
  cursor: pointer;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.selectors .selector:hover,
.selectors .selector.active {
  background: #4a90e2;
  opacity: 0.9;
}

.selectors .selector.active {
  width: 5px;
  height: 30px;
}

/*  Wrapper en cas d'image en bg*/
.otherPanel {
  width: 100%;
  height: 540px;
  opacity: 1;
  color: #222222;
  transition: background-image 500ms ease-in-out;
}
.otherPanel .container-fluid,
.row,
.col-lg-12 {
  margin: 0px;
  padding: 0px;
}

.otherPanel img.otherPanel-img {
  width: 100%;
  object-fit: cover;
  height: 540px;
}
.otherPanel h2.otherPanel-header {
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.otherPanel p.otherPanel-info {
  color: #888888;
  position: absolute;
  font-size: 22px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otherPanel .otherPanel-link {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Coté gauche */
aside.panel {
  width: 100%;
  height: 540px;
  opacity: 1;
  color: #222222;
  transition: background 500ms ease-in-out;
}
aside.panel h2.panel-header,
aside.panel p.panel-info {
  margin: 0;
  padding: 0.5rem 3.5rem;
}
aside.panel h2.panel-header {
  padding-top: 2em;
  font-weight: bold;
  font-size: 58px;
  text-transform: none;
}
aside.panel p.panel-info {
  color: #888888;
  font-size: 22px;
  line-height: 1.8em;
}

aside.panel .panel-buttons {
  margin: 0.1rem 3.5rem;
}

aside.panel img.panel-image {
  width: 100%;
  object-fit: cover;
  height: 540px;
}

/* footer */

.footer {
  background-color: #f9f9f9;
}

.footer_link_styled {
  color: rgba(136, 136, 136, 1);
  font-size: 15px;
  padding-right: 30px;
}

.footer_icon_style {
  color: #4a90e2;
  padding-right: 25px;
  font-size: 18px;
}

.footer_button {
  font-size: 14px;
  text-align: center;
  width: 100px;
  height: 40px;
  border-color: #4a90e2 !important;
  color: #4a90e2;
}

.footer_img {
  max-height: 25px;
  max-width: 100px;
}

/* Responsivité  */
@media screen and (max-width: 640px) {
  aside.panel {
    width: 100%;
    height: 450px;
  }

  aside.panel img.panel-image {
    display: none;
  }

  aside.panel h2.panel-header {
    padding-top: 1.2em;
    font-size: 45px;
  }
  aside.panel p.panel-info {
    font-size: 16px;
  }

  aside.panel .panel-buttons {
    text-align: center;
    display: block;
  }

  .otherPanel {
    height: 450px;
  }
  .otherPanel img.otherPanel-img {
    height: 450px;
  }
  .otherPanel h2.otherPanel-header {
    text-align: center;
    font-size: 40px;
    top: 25%;
    left: 50%;
  }
  .otherPanel p.otherPanel-info {
    text-align: center;
    font-size: 22px;
    top: 50%;
  }

  .otherPanel .otherPanel-link {
    top: 60%;
  }
  .navbar-logo {
    margin-left: 10px !important;
  }

  .selectors {
    left: 0;
    height: 450px;
  }

  .footer_link_styled {
    padding-right: 10px;
  }

  .footer_img {
    margin-left: 10px !important;
  }
  .footer_button {
    font-size: 12px;
    width: 80px;
    height: 30px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
